{{define "header"}}

<div class="content">
<nav class="nav-wrap" id="nav-wrap">
<span class="nav-title">gopher-write</span>
<ul class="nav-list" id="nav-list">
	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="">Home</a>
		</div>
	</li>

	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="/story">Stories</a>
			<div class="nav-dropdown-minor">
				<a class="nav-dropdown-minor-elem" href="/story/move">Reorganize</a>
			</div>
		</div>
	</li>

	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="/char">Characters</a>
			<div class="nav-dropdown-minor">
				<a class="nav-dropdown-minor-elem" href=""></a>
			</div>
		</div>
	</li>

	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="/loc">Locations</a>
			<div class="nav-dropdown-minor">
				<a class="nav-dropdown-minor-elem" href=""></a>
			</div>
		</div>
	</li>

	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="/resource">Resources</a>
			<div class="nav-dropdown-minor">
				<a class="nav-dropdown-minor-elem" href=""></a>
			</div>
		</div>
	</li>

	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="/project">Project</a>
			<div class="nav-dropdown-minor">
				<span class="nav-dropdown-minor-elem" onclick="SaveProject();">Save Project</span>
			</div>
		</div>
	</li>

	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="/settings">Settings</a>
			<div class="nav-dropdown-minor">
				<a class="nav-dropdown-minor-elem" href=""></a>
				<a class="nav-dropdown-minor-elem" href=""></a>
				<a class="nav-dropdown-minor-elem" href=""></a>
				<a class="nav-dropdown-minor-elem" href=""></a>
			</div>
		</div>
	</li>

<ul>
</nav>
</div>

<br>
<br>

<div class="response_text" id="response_text"></div>

<div class="sidebar" id="sidebar">
This is a sidebar.
</div>

<div class="sidebar_open" id="sidebar_open" onclick="ToggleSidebar();" >&gt;</div>

<div class="content">

{{end}}
