{{define "header"}}

<nav class="nav-wrap" id="nav-wrap">
<ul class="nav-list" id="nav-list">
	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="">Home</a>
		</div>
	</li>

	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="/story">Stories</a>
			<div class="nav-dropdown-minor">
				<a href=""></a>
			</div>
		</div>
	</li>

	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="/char">Characters</a>
			<div class="nav-dropdown-minor">
				<a href=""></a>
			</div>
		</div>
	</li>

	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="/location">Locations</a>
			<div class="nav-dropdown-minor">
				<a href=""></a>
			</div>
		</div>
	</li>

	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="/resource">Resources</a>
			<div class="nav-dropdown-minor">
				<a href=""></a>
			</div>
		</div>
	</li>

	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="/project">Project</a>
			<div class="nav-dropdown-minor">
				<a href="/project/save">Save Project</a>
			</div>
		</div>
	</li>

	<li>
		<div class="nav-dropdown">
			<a class="nav-dropdown-major" href="/settings">Settings</a>
			<div class="nav-dropdown-minor">
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
			</div>
		</div>
	</li>

<ul>
</nav>

<br>
<br>

{{end}}
