{{define "js"}}

<script language="javascript">

//
//Sidebar
//
var SidebarOpen = false;

function ToggleSidebar(){
	if(SidebarOpen){
		document.getElementById("sidebar").classList.add("sidebar_hidden");
		document.getElementById("sidebar_open").classList.remove("sidebar_open_hidden");
	} else {
		document.getElementById("sidebar").classList.remove("sidebar_hidden");
		document.getElementById("sidebar_open").classList.add("sidebar_open_hidden");
	}

	SidebarOpen = !SidebarOpen;
}


//
//Project
//
function SaveProject(){
		var xhr = new XMLHttpRequest();
		var url = "/project/save";
		xhr.open("POST", url, true);
		xhr.setRequestHeader("Content-Type", "text/plain");
		xhr.onreadystatechange = function () {
			//if server returns proper, update display
			if (this.readyState == 4 && this.status == 200){
				showResponse("Project saved.");
				setTimeout("hideResponse()",2000);
			}
		}
		
		xhr.send("");
}

//
//Utility Functions
//
function MakeForm(id){
	var form = document.createElement("form");
	form.id = id;
	
	var formContainer = document.getElementById("form_container");
	//TODO: create form container if needed
	
	var formControl = document.getElementById("form_control");
	//TODO: create controller if needed
	
	formContainer.insertBefore(form, formControl);
	
	return form;
}

function showResponse(text){
	var response = document.getElementById("response_text");
	
	if(response === null){
		response = document.createElement("div");
		response.id = "response_text";
		response.className = "response_text";
		document.body.appendChild(response);
	}
	
	response.innerHTML = text;
}

function hideResponse(){
	var response = document.getElementById("response_text");
	
	response.innerHTML = "";
}

function DeleteNodeById(id){
	var node = document.getElementById(id);
	node.parentNode.removeChild(node);
	delete node;
}

//Consumes enter key event and runs NewEnterKeyEvent if exists
//Also runs passed function action if optional param passed
function ConsumeEnterKeyEvent(e, action){
	//if not given, set e to the event 
	e = e || window.event;
	
	//get key code (or set to 0 if not existing)
	var key = e.charCode || e.keyCode || 0;
	
	//consume enter key event
	if(key == 13){
		e.preventDefault();
		
		if(typeof NewEnterKeyEvent === "function"){
			NewEnterKeyEvent();
		}
		
		if(typeof action !== "undefined"){
			action();
		}
		
	}
}

function NoProp(e){
	if(typeof e.stopPropagation !== "undefined"){
		e.stopPropagation();
	}
}

function DisplayModal(id){
	var modal = document.getElementById(id);
	
	modal.style.display = "block";
	
	//Make so clicking on back area closes
	window.onclick = function(e){
		if(typeof e.stopPropagation !== "undefined"){
			e.stopPropagation()
		}
		
		if(e.target === document.getElementById(id)){
			HideModal(id);
		}
	};
}

function HideModal(id){
	var modal = document.getElementById(id);
	
	window.onclick = null;
	
	modal.style.display = "none";
}

//
//Common
//
function Name(PrimaryName, AlternateNames, IsAlias){
	this.PrimaryName = PrimaryName;
	this.AlternateNames = AlternateNames;
	this.IsAlias = IsAlias;
}

function MakeName(name, isAlias, alternateNames){
	var name = new Name(name, null, isAlias);

	if(alternateNames != null && alternateNames.length >= 1){
		name.AlternateNames = alternateNames;
	}
	return name;
}

function Age(BioAge, ChronoAge){
	this.BioAge = BioAge;
	this.ChronoAge = ChronoAge;
}

function MakeAge(bioAge, chronoAge){
	var age = new Age(bioAge, bioAge);
	
	if(typeof chronoAge !== "undefined" && chronoAge !== null){
		age.ChronoAge = chronoAge;
	}
	
	return age;
}

function StatusToString(status){
	switch(status){
		case 0:
			return "Not Started";
		case 1:
			return "In Progress";
		case 2:
			return "Almost Done";
		case 3:
			return "Done";
		case 4:
			return "Unknown";
		default:
			return "Invalid Status";
	}
}

//
//Character
//
function Character(UID, Name, Description, Age, Aliases){
	this.UID = UID;
	this.Name = Name;
	this.Description = Description;
	this.Age = Age;
	this.Aliases = Aliases;
}

function MakeCharacter(name, description, age, aliases){
	var character = new Character(0, name, description, age, null);

	if(aliases != null && aliases.length >= 1){
		character.Aliases = aliases;
	}

	return character;

}

var CharacterList = null;

function PopulateCharacterList(){
	
	CharacterList = null;
	
	var xhr = new XMLHttpRequest();
	var url = "/char/list";
	xhr.open("POST", url, true);
	xhr.onreadystatechange = function () {
		//if server returns JSON, update display
		if (this.readyState == 4 && this.status === 200){
			
			CharacterList = new Map();
			
			//convert json into object
			var response = JSON.parse(this.responseText).Data;
			
			if(response != null) {
				//add the chars to the page
				for (var i = 0; i < response.length; i++) {
					CharacterList.set(response[i].I, {uid: response[i].I, name: response[i].S})
				}
			}
		}
	}
	
	xhr.send();	
}

function GetCharacter(id){
	if(CharacterList === null){
		return null;
	}
	
	//if exists
	if(CharacterList.has(id)){
		return CharacterList.get(id);
	} else {
		return null;
	}
}

var LocationList = null;

function PopulateLocationList(){
	LocationList = null;
	
	var xhr = new XMLHttpRequest();
	var url = "/loc/list";
	xhr.open("POST", url, true);
	xhr.onreadystatechange = function () {
		//if server returns JSON, update display
		if (this.readyState == 4 && this.status === 200){
			
			LocationList = new Map();
			
			//convert json into object
			var response = JSON.parse(this.responseText).Data;
			
			if(response != null) {
				//add the locations to the page
				for (var i = 0; i < response.length; i++) {
					LocationList.set(response[i].I1, {uid: response[i].I1, name: response[i].S, parent: response[i].I2})
				}
			}
		}
	}
	
	xhr.send();	
}

function GetLocation(id){
	if(LocationList === null){
		return null;
	}
	
	//if exists
	if(LocationList.has(id)){
		return LocationList.get(id);
	} else {
		return null;
	}
}

function IsSublocation(uidPotentialSL, uidTargetLoc){
	var potentialSL = GetLocation(uidPotentialSL);
	
	if(potentialSL.parent === -1){
		//If is a root node
		return false;
	} else if (potentialSL.parent === uidTargetLoc ){
		//If is a sublocation
		return true;
	} else {
		//Otherwise, check if a parent is a sublocation
		return IsSublocation(potentialSL.parent, uidTargetLoc);
	}
}

//
//Story
//
function Section(UID, Name, Text, Status, Characters, Locations, Note){
	this.UID = UID;
	this.Name = Name;
	this.Text = Text;
	this.Status = Status;
	this.Characters = Characters;
	this.Locations = Locations;
	this.Note = Note;
}

function MakeSection(name, text, stat, chars, locs, note){
	var sect = new Section(0, name, text, 0, [], [], "");

	if(typeof stat !== "undefined"){
		sect.Status = stat;
	}
	if(typeof chars !== "undefined"){
		sect.Characters = chars;
	}
	if(typeof locs !== "undefined"){
		sect.Locations = locs;
	}
	if(typeof note !== "undefined"){
		sect.Note = note;
	}

	return sect;
}

function Chapter(UID, Name, Sections, Status, Note){
	this.UID = UID;
	this.Name = Name;
	this.Sections = Sections;
	this.Status = Status;
	this.Note = Note;
}

function MakeChapter(name, stat, sections, note){
	var chapter = new Chapter(0, name, null, stat);

	if(sections != null && sections.length >= 1){
		chapter.Sections = sections;
	}
	if(typeof note !== "undefined"){
		chapter.Note = note;
	}

	return chapter;
}

function Story(UID, Name, Chapters, Status, Note){
	this.UID = UID;
	this.Name = Name;
	this.Chapters = Chapters;
	this.Status = Status;
	this.Note = Note;
}

function MakeStory(name, stat, chapters,note){
	var story = new Story(0, name, null, stat);

	if(chapters != null && chapters.length >= 1){
		story.Chapters = chapters;
	}
	if(typeof note !== "undefined"){
		story.Note = note;
	}

	return story;
}

//
//Location
//
function Location(UID, Name, Aliases, Description, Sublocations, Parent){
	this.UID = UID;
	this.Name = Name;
	this.Aliases = Aliases;
	this.Description = Description;
	this.Sublocations = Sublocations;
	this.Parent = Parent;
}

function MakeLocation(name, description, aliases, sublocations, parent){
	var location = new Location(0, name, null, description, null, -1);

	if(aliases != null && aliases.length >= 1){
		location.Aliases = aliases;
	}

	if(sublocations != null && sublocations.length >= 1){
		location.Sublocations = sublocations;
	}
	
	if(parent){
		location.Parent = parent;
	}

	return location;
}


//
//Resources
//
function Note(UID, Title, Description, Text, Featured){
	this.UID = UID;
	this.Title = Title;
	this.Description = Description;
	this.Text = Text;
	this.Featured = Featured;
}

function MakeNote(title, description, text, featured){
	var note = new Note(0, title, description, text, false);
	
	if(featured){
		note.Featured = featured;
	}

	return note;
}

</script>

{{end}}
