<html>

<head>
	<meta charset="utf-8">
	<title>{{.}} | gopher-write</title>

	{{template "css"}}
</head>

<body>

{{template "header"}}

Main page

{{template "js"}}

{{template "footer"}}

</body>

</html>
