{{define "css"}}

<style>

.nav-wrap {
	min-height: 50px;
}

.nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-list li {
	float: left;
	min-width: 80px;
}

.nav-list li a {
	color: black;
	font-size: 1.2em;
}

.nav-dropdown {
	position: relative;
	display: inline-block;
}

.nav-dropdown:hover .nav-dropdown-minor {
	display: block;
}

.nav-dropdown-major {
	padding: 16px;
	border: none;
	text-decoration: none;
	display: block;
}

.nav-dropdown-minor {
	display: none;
	position: absolute;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
	z-index: 1;
}

.nav-dropdown-minor-elem {
	color: black;
	padding: 6px 8px 6px 8px;
	font-size: 1em !important;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.text_wrap textarea {
	width: 100%;
	max-width: 100%;
	min-width: 200px;
	min-height: 200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.text_control {
	padding-top: 10px;
	padding-bottom: 5px;
	border: 1px solid;
	border-bottom: 1px dashed;
	
	background-color: #CCCCEE;
}


.button_control {
	background-color: #BBBBFF;
	color: #111133;
	
	cursor: pointer;
	
	margin-left: 10px;
	
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #AAAACC;
	border-right: 1px solid #555577;
	border-bottom: 1px solid #555577;
	border-left: 1px solid #AAAACC;
	
}

</style>

{{end}}
