{{define "css"}}

<style>

.nav-wrap {
	display: flex;
	flex-wrap: wrap;
	min-height: 50px;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-list li {
	min-width: 80px;
}

.nav-list li a {
	color: black;
	font-size: 1.2em;
}

.nav-dropdown {
	display: flex;
	position: relative;
}

.nav-dropdown:hover .nav-dropdown-minor {
	display: block;
}

.nav-dropdown-major {
	padding: 16px;
	border: none;
	text-decoration: none;
	display: block;
}

.nav-dropdown-minor {
	display: none;
	position: absolute;
	top: 50px;
	min-width: 120px;
	
	background-color: #FFFFFF;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,.6);
	z-index: 20;
}

.nav-dropdown-minor-elem {
	color: black;
	padding: 6px 8px 6px 8px;
	font-size: 1em !important;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.nav-title {
	font-size: 1.25em;
	font-weight: bold;
	margin-top: .67em;
	margin-bottom: .67em;
	margin-left: 0em;
	margin-right: 0em;
	
	vertical-align: middle;
}

.text_wrap textarea {
	width: 100%;
	max-width: 100%;
	min-width: 200px;
	min-height: 200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.text_control {
	padding-top: 10px;
	padding-bottom: 5px;
	border: 1px solid;
	border-bottom: 1px dashed;
	
	background-color: #CCCCEE;
}

.button_control {
	background-color: #BBBBFF;
	color: #111133;
	
	cursor: pointer;
	
	margin-left: 10px;
	margin-right: 10px;
	
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #AAAACC;
	border-right: 1px solid #555577;
	border-bottom: 1px solid #555577;
	border-left: 1px solid #AAAACC;
	
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.name {
	border: none;
	background: transparent;
	font-size: 2em;
	font-weight: bold;
	margin-top: .67em;
	margin-bottom: .67em;
	margin-left: 0em;
	margin-right: 0em;
}

.status_text{
	border: 0px;
	outline: 0px;
}

.meta_bold {
	font-weight: bold;
}

.meta_big {
	font-size: 1.25em;
}

.meta_small {
	font-size: .75em;
}

.meta_tiny {
	font-size: .5em;
}

.meta_valign{
	vertical-align: middle;
}

.meta_noselect{
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.meta_hidden{
	display: none;
}

.meta_mouse_hand {
	cursor: pointer;
}

.meta_height_40px {
	height: 40px !important;
}

.note_header {
	font-size: 1.25em;
	font-weight: bold;
	
	margin-top: 5px;
	margin-bottom: 5px;
	
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.subheader {
	display: inline-block;
}

.form_make_button {
	cursor: pointer;
	
	margin-top: 5px;
	margin-left: 5px;
	margin-right: auto;
	padding-left: 5px;
	padding-right: 5px;
	
	border-top: 1px solid #AAAACC;
	border-right: 1px solid #555577;
	border-bottom: 1px solid #555577;
	border-left: 1px solid #AAAACC;
	
	-moz-user-select: -moz-none !important;
	-webkit-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.form_make_button:hover {
	background-color: #EEEEEE;
}

.form_make_button_big{
	font-size: 1.5em;
}

.form_make_button_round{
	border-radius: 5px;
}

.age_text {
	border: 0px;
	outline: 0px;
}

.list {
	display: flex;
}

.list_elem {
	-moz-user-select: -moz-none !important;
	-webkit-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	
	width: 200px;
	height: 80px;
	
	border: 1px solid #555555;
	padding: 3px;
	margin: 5px;
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
   
}

.list_elem_color:hover {
	background-color: #EEEEEE !important;
}

.list_elem_ghost {
	border: 0px;
}
.list_elem_ghost:hover {
	background-color: transparent !important;
}

.list_elem_active {
	background-color: #CCFFCC !important;
}

.list_elem_active:hover {
	background-color: #BBEEBB !important;
}

.list_elem_btn {
	cursor: pointer;
	
	border: 1px dotted;
	border-color: #AAAAAA;
	border-radius: 5px;
	
	margin-left: 2px;
	margin-right: 2px;
	
	padding: 2px;
}

.list_elem_btn:hover {
	background-color: #EEEEEE;
}

.aux_list_wrap{
	padding: 5%;
}

.aux_list_header {
	display: flex;
	justify-content: space-between;
	border: 1px dashed #AAAAAA;
	border-radius: 10px;
	padding: 10px;
}

.aux_list_header h3 {
	display: inline-block;
}

.aux_list_control {
	display: none;
	margin-top: auto;
	margin-bottom: auto;
}

.aux_list {
	display: none;
	flex-wrap: wrap;
}

.aux_list_elem {
	-moz-user-select: -moz-none !important;
	-webkit-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	
	min-width: 100px;
	width: 40%;
	max-width: 150px;
	height: 40px;
	
	border: 1px solid #555555;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.aux_text_wrap {
	display: none;
}

.aux_text_wrap textarea {
	display: block;
	width: 95%;
	max-width: 95%;
	min-width: 200px;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
}

.aux_text_wrap .text_control {
	display: block;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

.ui_modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: none;
	background-color: rgb(60,60,60);
	background-color: rgba(60,60,60,.6);
}

.ui_modal_content {
	position: relative;
	
	background-color: #EEEEEE;
	margin-left: auto;
	margin-top: 15%;
	margin-bottom: auto;
	margin-right: auto;
	padding: 20px;
	border: 1px solid #888888;
	width: 80%;
	min-height: 200px;
	max-height: 70%;
	overflow: auto;
}

.ui_modal_form label{
	font-size: 2em;
	font-weight: bold;
	margin-top: .33em;
	margin-bottom: .33em;
	margin-left: .33em;
	margin-right: .33em;
}

.ui_modal_form input {
	border: 1px dashed;
	background: transparent;
	font-size: 2em;
	font-weight: bold;
	margin-top: .33em;
	margin-bottom: .33em;
	margin-left: .33em;
	margin-right: .33em;
}

.ui_modal_form_small label{
	font-size: 1em;
	font-weight: bold;
	margin-top: .33em;
	margin-bottom: .33em;
	margin-left: .33em;
	margin-right: .33em;
}

.ui_modal_form_small input {
	border: 1px dashed;
	background: transparent;
	font-size: 1em;
	font-weight: bold;
	margin-top: .33em;
	margin-bottom: .33em;
	margin-left: .33em;
	margin-right: .33em;
}

.ui_modal_control {
	position: absolute;
	
	width: auto;
	bottom: 5%;
	right: 5%;
}

.ui_modal_list {
	display: flex;
	flex-wrap: wrap;
}

.ui_modal_list_elem {
   -moz-user-select: -moz-none !important;
   -webkit-user-select: none !important;
   -ms-user-select: none !important;
   user-select: none !important;
   
   min-width: 100px;
   width: 20%;
   max-width: 150px;
   height: 40px;
   
   border: 1px solid #555555;
   padding: 3px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5px;
   margin-bottom: 5px;
}

.ui_modal_list_elem_faded {
	background-color: #DDDDDD;
}

.ui_grid_3{
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

</style>

{{end}}
