<html>

<head>
	<meta charset="utf-8">
	<title>View Chapter {{.Chapter.Name.PrimaryName}} | gopher-write</title>

	{{template "css"}}
</head>

<body>

{{template "js"}}

<script language="javascript">

var currentStoryUID = {{index .UIDS 0}};
var currentChapterUID = {{index .UIDS 1}};
var chapStatus = {{.Chapter.Status}};

var changes = false;

window.onload = initPage;

function initPage(){
	//Set the chapter status
	setStatus();
	
	//Update the section list
	updateSectionList();

	//Save changes every second
	//User shouldn't be editing a lot, so catching their change as quick as possible is good.
	window.setInterval(saveChanges, 1000);
}

function addSectionForm(){

	var form = document.getElementById("section_form");
	
	if(form == null){
		form = MakeForm("section_form");
	}
	
	form.innerHTML=form.innerHTML + "Name:<br><input id=\"form_name\" type=\"text\" onkeypress=\"ConsumeEnterKeyEvent(event);\"><br>";
	
	document.getElementById("form_new").style.display = 'none'
	document.getElementById("form_control").style.display = 'block'
}

function removeSectionForm(){
	DeleteNodeById("section_form");
	
	document.getElementById("form_new").style.display = 'block'
	document.getElementById("form_control").style.display = 'none'
}

function processSection(){
	var name = MakeName(document.getElementById("form_name").value,false,null);
	var section = MakeSection(name,"",0);
	
	var xhr = new XMLHttpRequest();
	var url = "/story/" + currentStoryUID + "/" + currentChapterUID + "/new";
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function () {
		//if server returns proper, update display
		if (this.readyState == 4 && this.status == 200){
			removeSectionForm(); //remove form
			updateSectionList(); //update Chapter list
		} else if (this.readyState == 4 && this.status == 500) {
			showResponse("There was an error creating the new section.");
			setTimeout("hideResponse()",5000);
		}
	}
	
	xhr.send(JSON.stringify(section));

}

function updateSectionList(){
	var xhr = new XMLHttpRequest();
	var url = "/story/" + currentStoryUID + "/" + currentChapterUID + "/list";
	xhr.open("POST", url, true);
	xhr.onreadystatechange = function () {
		//if server returns JSON, update display
		if (this.readyState === 4 && this.status === 200){
			//get the char list
			var sectionList = document.getElementById("section_list");
			
			//blank the existing list
			sectionList.innerHTML = "";
			
			//convert json into object
			var storyListJSON = JSON.parse(this.responseText);
			
			if(storyListJSON.Names != null) {
				//add the sections to the page
				for (var i = 0; i <= storyListJSON.Names.length; i++){ 
					if(i === storyListJSON.Names.length){
						var storyElem = document.createElement("div");
						storyElem.className = "list_elem list_elem_ghost";
						storyElem.setAttribute("data-story-uid",currentStoryUID);
						storyElem.setAttribute("data-chapter-uid",currentChapterUID);
						storyElem.setAttribute("data-section-uid",i);
						storyElem.setAttribute("draggable","false");
						storyElem.addEventListener("drop",dropListElement);
						storyElem.addEventListener("dragover",allowDragListElement);
						
						document.getElementById("section_list").appendChild(storyElem);
					} else {
						var storyElem = document.createElement("div");
						storyElem.className = "list_elem";
						storyElem.setAttribute("data-story-uid",currentStoryUID);
						storyElem.setAttribute("data-chapter-uid",currentChapterUID);
						storyElem.setAttribute("data-section-uid",storyListJSON.UIDS[i]);
						storyElem.setAttribute("draggable","true");
						storyElem.addEventListener("drop",dropListElement);
						storyElem.addEventListener("dragover",allowDragListElement);
						storyElem.addEventListener("dragstart",dragListElement);
						storyElem.addEventListener("dblclick",linkListElement);
						
						var storyElemLink = document.createElement("span");
						storyElem.setAttribute("draggable","true");
						storyElemLink.innerHTML = storyListJSON.Names[i];
						
						storyElem.appendChild(storyElemLink);
						
						document.getElementById("section_list").appendChild(storyElem);
					}
				}
			}
			
		} else if (this.readyState === 4 && this.status != 200){
			showResponse("Unable to get sections!");
			setTimeout("hideResponse()",5000);
		}
	}
	
	xhr.send();
	
}

function setStatus(){
	var statusText = document.getElementById("status_text");
	statusText.value = chapStatus;
}

function saveChanges(){
	//Only save changes if there is actually something to save.
	if(changes === true){
		//reset change chapter status
		changes = false;
		
		//Get and create the name
		var name = MakeName(document.getElementById("name_text").innerHTML,false,null);
		//Create a chapter object with the new status and/or name
		var chapter = MakeChapter(name,parseInt(document.getElementById("status_text").value),null);
		
		var xhr = new XMLHttpRequest();
		var url = "/story/" + currentStoryUID + "/" + currentChapterUID + "/edit";
		xhr.open("POST", url, true);
		xhr.setRequestHeader("Content-Type", "application/json");
		xhr.onreadystatechange = function () {
			//if server returns proper, update display
			if (this.readyState == 4 && this.status == 200){
				showResponse("Chapter updated.");
				setTimeout("hideResponse()",2000);
			} else if (this.readyState == 4 && this.status == 500) {
				showResponse("Unable to update.");
				setTimeout("hideResponse()",2000);
			}
		}
		
		xhr.send(JSON.stringify(chapter));
		
	}
}

function moveSection(first, second){var xhr = new XMLHttpRequest();
	//save to prevent data loss.
	saveChanges();

	var url = "/move/section/intra/" + currentStoryUID + "/" + currentChapterUID + "/" + first + "/" + second;
	xhr.open("POST", url, true);
	xhr.onreadystatechange = function () {
		if (this.readyState === 4 && this.status === 200){
			updateSectionList();
		} else if(this.readyState === 4 && this.status !== 200){
			showResponse("There was an error moving the section.");
			setTimeout("hideResponse()",2000);
		}
	}
	
	xhr.send();
}

function linkListElement(e){
	var suid = e.target.getAttribute("data-story-uid");
	var cuid = e.target.getAttribute("data-chapter-uid");
	var seuid = e.target.getAttribute("data-section-uid");
	location.href = "/story/" + suid + "/" + cuid + "/" + seuid;
}

function dropListElement(e){
	e.preventDefault();
	
	if(e.stopPropagation !== "undefined"){
		e.stopPropagation();
	}
	
	var firstID = parseInt(e.dataTransfer.getData("text"));
	var secondID = parseInt(e.target.getAttribute("data-section-uid"));
	
	var target = e.target;
	
	while(isNaN(secondID)){
		target = target.parentNode
		secondID = parseInt(target.getAttribute("data-section-uid"));
	}
	
	if(firstID !== secondID){
		moveSection(firstID, secondID);
	}
}

function dragListElement(e){
	var storyUID = e.target.getAttribute("data-section-uid");
	
	var target = e.target;
	
	while(storyUID === null){
		target = target.parentNode
		storyUID = parseInt(target.getAttribute("data-section-uid"));
	}
	
	e.dataTransfer.setData("text", storyUID);
}

function allowDragListElement(e){
	e.preventDefault();
}

</script>

{{template "header"}}

<h1 id="name_text">{{.Chapter.Name.PrimaryName}}</h1>

<div class="meta_control">
	<a href="/story/{{index .UIDS 0}}">Return to story</a>
</div>

<div class="status_wrap" id="status_wrap">
	<span class="status_label" >Status: </span>
	<select class="status_text" id="status_text" onchange="changes=true;" >
		<option value="0">Not Started</option>
		<option value="1">In Progress</option>
		<option value="2">Almost Done</option>
		<option value="3">Done</option>
		<option value="4">Unknown</option>
	</select>
</div>

<hr>
<h2>Sections</h2>

<div class="form_container" id="form_container">
	<div id="form_new">
		<button type="button" onclick="addSectionForm()">Add Section</button>
	</div>
	<div id="form_control" style="display:none">
		<button onclick="processSection()">Submit</button>
	</div>
</div>



<div class="list" id="section_list">

</div>

</body>

</html>
